<% layout('/layouts/boilerplate') -%>


    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Edit listing</h2>
            <form class="needs-validation" method="POST" action="/listings/<%=listing._id%>?_method=PUT" novalidate enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" name="title" value="<%=listing.title%>" required>
                    <div class="invalid-feedback">
                        select valid username
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description:</label>
                    <textarea name="description" class="form-control" required><%=listing.description %>
        </textarea>
                    <div class="invalid-feedback">
                        please provide input between 50 - 200 characters.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image :</label>
                    <input type="file" class="form-control" name="image">
                    <div class="invalid-feedback">
                        Add image link.
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input type="number" class="form-control" name="price" value="<%=listing.price%>" required>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" class="form-control" name="country" value="<%=listing.country%>" required>
                        <div class="invalid-feedback">
                            Please provide a valid Country.
                        </div>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" class="form-control" name="location" value="<%=listing.location%>" required>
                    <div class="invalid-feedback">
                        Please provide a valid Location.
                    </div>
                </div>

                <button type="submit" class="btn-done btn-add">Done</button>
                <br></br>
            </form>
        </div>
    </div>